@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
.noDisplay{
    display: none;
    text-align: center;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    box-shadow: 0 0 20px black;
    padding: 20px;
    background-color: white;
    width: 40%;
    height: 700px;
    max-height: 1200px;
}

input,label{
    display: block;
    margin: auto;
}
input{
    height: 40px;
    width: 50%;
}

label{
    margin-left: 185px;
    margin-top: 20px;
}

h1{
    text-align: center;
}

.cambiofuente1{
    color: aqua;
}

#terminos{
    height: 20px;
}